<header>
  <!-- Top navigation bar -->
  <div class="top-nav">
    <div class="website-name">
      <div class="">I-Laa Kha-La</div>
      <a href="#">The Elevated Wellness Tourism of Isaan with Digital Platform</a>
    </div>
    <div class="nav-menu">
      <div class="nav-links">
        <a href="/home">หน้าแรก</a>
        <a href="#">เกี่ยวกับ</a>
        <a href="/data-management">ระบบการจัดการข้อมูล</a>
      </div>
      <!-- <div class="search">
        <input type="text" placeholder="Search">
      </div> -->
    </div>
  </div>
  <!-- Middle menu with logo and icons -->
  <nav class="middle-menu">
    <div class="menu-icons">
      <a href="/tourism">
        <div class="icon">
          <img src="/img/icons/doi-suthep.png" alt="Destinations">
          <span>สถานที่ท่องเที่ยว</span>
        </div>
      </a>

      <a href="/hotel">
        <div class="icon">
          <img src="/img/icons/house.png" alt="Off the Beaten Path">
          <span>ที่พัก</span>
        </div>
      </a>

      <a href="/resturant">
        <div class="icon">
          <img src="/img/icons/stall-food.png" alt="Travel Resources">
          <span>ร้านอาหาร</span>
        </div>
      </a>

    </div>
    <div class="logo">
      <img src="/img/icons/phi-ta-khon.png" alt="Be My Travel Muse Logo">
    </div>

    <div class="menu-icons">

      <a href="/cafe">
        <div class="icon">
          <img src="/img/icons/mango.png" alt="Travel Resources">
          <span>ร้านกาแฟ</span>
        </div>
      </a>

      <a href="/travel">
        <div class="icon">
          <img src="/img/icons/tuk-tuk.png" alt="travel Resources">
          <span>แนะนำเส้นทางท่องเที่ยว</span>
        </div>
      </a>

      <a href="/map">
        <div class="icon">
          <img src="/img/icons/thailand.png" alt="Travel Resources">
          <span>แผนที่สถานที่ท่องเที่ยว</span>
        </div>
      </a>
    </div>
  </nav>
</header>

