<div ui-view="nav"></div>
<div ng-controller="homeImgManagementCtl">
  <div class="container dark-bg">
    <h2 class='mb-3'>ระบบจัดการข้อมูล</h2>
    <div class="flex">
      <a href="/form-add" class="btn btn-default">เพิ่มข้อมูล</a>
      <a href="/home-img-management" class="btn btn-default">ภาพหน้าหลัก</a>
      <a href="/home-img-add" class="btn btn-default">เพิ่ม/แก้ไข ภาพหน้าหลัก</a>
      <!-- <a href="/map" class="btn btn-info">หน้าแผนที่</a> -->
      <a href="https://html-online.com/editor/" class="btn btn-warning" target="_blank">Text Editor</a>
    </div>

  
    <table id="dtBasicExample" class="table" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Item
          </th>
          <th class="th-sm">Image URL
          </th>
          <th class="th-sm">Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in HomeImgs">
          <td>[[x.id]]</td>
          <td>[[x.link]]</td>
          <td>
            <!-- <a href="/form-edit/pid=[[x.pid]]" class="btn btn-default btn-sm">Edit</a> -->
            <a href="#" class="btn btn-danger btn-sm btn-delete" data-id="[[x.id]]">Delete</a>
          </td>
        </tr>

      </tbody>
    </table>

    <select class="" id="table-status" hidden>
      <option value="0"></option>
      <option value="1"></option>
    </select>

  </div>
</div>

<div ui-view="footer"></div>